/* style sheet for personal repository
*/
/*sets box size and font
*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    /*changes background to black */
    background-color: black;
}

h1 {
    /* sets font size, color, aligns text to center, sets a bottom margin and a left margin */
    font-size: 30px;
    color: ghostwhite;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 120px;
}

h2{
    /* sets font size, color, aligns text to center, sets a bottom margin and adds top padding */
    font-size: 24px;
    color: ghostwhite;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 30px;
}

body{
    /* sets font size, color, aligns text to center, and sets a top margin */
    margin-top: 30px;
    font-size: 18px;
    color: ghostwhite;
    text-align: center;
}

img{
    /*Taken from Professor Lawley's page to set portrait to one side of page
        Changed float right to left
        also changed to add right side margin */
    float: left;
    padding: 0px;
    border: 10px solid black;
    margin-right: -120px;
}
