/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

/*grid set up */
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 90%;
    max-width: 1200px;
    min-height: 100%; 
    grid-template-rows: 4rem auto 3rem;
    grid-template-columns: 1fr 2fr 200px;
}

