/************************
General Formatting Rules 
************************/

* { box-sizing: border-box; }

html {
    /* set base font-size for document; will be used for rem calculations */ 
    font-size: 16px;
}

html, body, #wrapper {
    /* resets margins to prevent sizing issues */
    margin: 0;
}

/*****************
Flexbox Formatting  
*****************/

#wrapper {
    /* centers container in viewport */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: none; 
}

main {
 
    /* formatting for visual clarity */
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 1px solid black; 
    background-color: #ccc;
    margin: .5rem 0; 

}

header, footer {

    /* formatting for visual clarity */
    background-color: lightblue;
    padding: 0 .5rem;
}

article, nav, aside {

    /* formatting for visual clarity */
    order: 0;
    flex: 1;
    border: 1px dotted black;
    background-color: #fff;
    margin: .5rem 0;
    padding: .5rem;
}

nav {
    order: -1;
}

aside, nav {
    flex: 0 0 12rem;
}

article {
    flex: 1;
}

@media screen and (max-width: 36rem){
    flex-direction: column;
    width: 100vw;

}


