* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Sofia";
    src: url("Sofia-Regular.otf");

/* w3 schools drop down button tutorial */
 /* Dropdown Button */
 .dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #1d1d1d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (uses JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* end button code from W3 schools drop down tutorial */

body {
    margin: 20px;
    background-color: #33363b;
    color:   #f5f5f5;
    font-family: 'Sofia-Regular'
}

h2 {
    background-color: #3f3f3f;
}

.about {
    background-color: #3f3f3f;
    padding: 8px;
    margin-top: 20px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}


header, article, aside {
    width: 100%;
}

header {
    background-color: #3f3f3f;
    padding: 8px;
}

h1, h2, nav {
    text-align: center;
}

nav {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    background-color: #3f3f3f;
}

img {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h3, nav a {
    background-color: #3f3f3f;
    padding: 8px;
    margin-top: 2px;
    width: 100%;
    display: block;
}

aside {
    background-color: #3f3f3f;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
}

@media screen and (min-width: 620px) {
    aside, nav {
        float: left;
        width: 20%;
    }
    
    article {
        float:left;
        width: 60%;
        padding: 0 20px;
    }

    .container {
        float: left;
        width: 60%;
        padding: 0 20px;
    }
}

